<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form>
        <div>
            <label>Insert Username
                <input type="text" placeholder="username" name="username">
            </label>
        </div>
        <div>
            <label>Insert Password
                <input type="password" placeholder="password" name="password">
            </label>
        </div>
        <div>
            <input type="submit" value="Submit Form">       
        </div>
        
    </form>
    <script src="/index.bundle.js"></script>
</body>
</html>